extends layout

block title     
  title Code-Mixed Dialog Dataset

block description
  meta(name='description', content='Code-Mixed Dialog Dataset contains code-mixed goal-oriented conversations in 4 Indian languages')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(async defer src="https://buttons.github.io/buttons.js")

block extrascripts

mixin trained_on_random_negatives(group, is_test)
  table.table.performanceTable
    tr
      if is_test
        th Rank
      th Model
      th Accuracy
      th PBC 
    - var human_em = 86.831
    - var human_f1 = 89.452
      tr
        td
          p #{"1"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | RUBER-Large 
          p.institution #{"Peking University"}
          a(href="https://arxiv.org/abs/1701.03079") (Tao & al., '17)
        td #{68.92}
        td #{0.42}

      tr
        td
          p #{"2"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | DEB <b>
          p.institution #{"IIT Madras"}
          a(href="") (Sai & al. '20)
        td #{66.78}
        td #{0.39}

      tr
        td
          p #{"3"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | RUBER <b>
          p.institution #{"Peking University"}
          a(href="https://arxiv.org/abs/1701.03079") (Tao & al., '17)
        td #{65.00}
        td #{0.35}

      tr
        td
          p #{"4"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | ADEM <b>
          p.institution #{"McGill University"}
          a(href="https://arxiv.org/abs/1708.07149") (Lowe & al., '17)
        td #{64.43}
        td #{0.37}

      tr
        td
          p #{"5"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | BERT+DNN <b>
          p.institution #{"University of Southern California"}
          a(href="https://arxiv.org/abs/1904.10635") (Ghazarian et al., 2019)
        td #{60.14}
        td #{0.29}


mixin trained_on_both(group, is_test)
  table.table.performanceTable
    tr
      if is_test
        th Rank
      th Model
      th Accuracy
      th PBC       
      tr
        td
          p #{"1"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | DEB <b>
          p.institution #{"IIT Madras"}
          a(href="") (Sai & al. '20)
        td #{92.66}
        td #{0.86}

      tr
        td
          p #{"2"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | BERT+DNN <b>
          p.institution #{"University of Southern California"}
          a(href="https://arxiv.org/abs/1904.10635") (Ghazarian et al., 2019)
        td #{86.61}
        td #{0.79}

      tr
        td
          p #{"3"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | RUBER-Large <b>
          p.institution #{"Peking University"}
          a(href="https://arxiv.org/abs/1701.03079") (Tao & al. '17)
        td #{86.52}
        td #{0.78}

      tr
        td
          p #{"4"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | RUBER <b>
          p.institution #{"Peking University"}
          a(href="https://arxiv.org/abs/1701.03079") (Tao & al. '17)
        td #{83.81}
        td #{0.74}

      tr
        td
          p #{"5"}
          span.date.label.label-default #{"Sep 13, 2020"}
        td
          | ADEM <b>
          p.institution #{"McGill University"}
          a(href="https://arxiv.org/abs/1708.07149") (Lowe & al., '17)
        td #{66.62}
        td #{0.41}


block content
  .cover#contentCover
    .container
      .row
        .col-md-5
          .infoCard
            .infoBody
              .infoHeadline
                h2 What is Code-Mixed Dialog Data?
              p 
                span 
                | Most of the existing datasets for building conversation systems focus on monolingual conversations and there is hardly any work on multilingual and/or code-mixed conversations. Such datasets and systems thus do not cater to the multilingual regions of the world, such as India, where it is very common for people to speak more than one language and seamlessly switch between them resulting in code-mixed conversations. For example, a Hindi speaking user looking to book a restaurant would typically ask, “Kya tum is restaurant mein ek table book karne mein meri help karoge?” (“Can you help me in booking a table at this restaurant?”). To facilitate the development of such code-mixed conversation models, we build a goal-oriented dialog dataset containing code-mixed conversations. Specifically, we take the text from the DSTC2 restaurant reservation dataset and create code-mixed versions of it in Hindi-English, Bengali-English, Gujarati-English and Tamil-English.              
                a.btn.actionBtn(href="/explore/1.0/test/") Explore Code-Mixed Dialog
                a.btn.actionBtn(href="https://www.aclweb.org/anthology/C18-1319/") Code-Mixed Dialog paper (COLING 2018)
              hr
              .infoHeadline
                h2 Getting Started
              p 
                | Download the dataset containing the train-dev-test splits in all the languages, along with the splits of the vocabularies into English words, native-language words and named entities. 
                ul.list-unstyled
                  li
                    a.btn.actionBtn.inverseBtn(href="/code-mixed-dataset/code-mixed-dialog-dataset.zip", download)
                      |  Download Dataset 
              hr
              .infoHeadline
                h2 Models
                p 
                span
                  | We establish some initial baseline results on this code-mixed dataset by evaluating two different generation based models : 
                  li
                    a(href="https://arxiv.org/pdf/1409.0473.pdf") Sequence-to-Sequence with Attention model (Bahdanau et al., 2015) 
                  li
                    a(href="https://arxiv.org/pdf/1507.04808.pdf") Hierarchical Recurrent Encoder-Decoder (HRED) model (Serban et al., 2016).
                  br
                  | Checkout the code for these baseline models as well as the evaluation scripts below.
                
                ul.list-unstyled
                  li
                    a.btn.actionBtn.inverseBtn(href="https://github.com/sumanbanerjee1/Code-Mixed-Dialog", download)
                      | Code
                  li
              .infoHeadline
                h2 Have Questions?
              p 
                | Ask us questions at   
                a(href="mailto:suman@cse.iitm.ac.in") suman@cse.iitm.ac.in .
            .infoSubheadline
              include includes/tweet
              include includes/github
        .col-md-7
          .infoCard
            .infoBody
              .infoHeadline
                h2 Results (trained on random negatives)
              p DailyDialog++ evaluates the ability of dailog evaluation metrics to distinguish between the relevant and irrelevant responses to a given context. Here, we report the test perfromance of various metrics in differentiating between relevant and adversarial irrelevant responses when trained with random negative responses (sampling random utterances from other contexts). We use accuracy and the Point-biserial correlation (PBC) coefficient as the performance measure. We observe that the performance of all metrics including DEB is poor when evaluated on adversarial examples from our dataset.
              +trained_on_random_negatives(test2, true)
          .infoCard
            .infoBody
              .infoHeadline
                h2 Results (trained on random + adversarial negatives)
              p 
                |  Here, we report the test perfromance of various metrics in differentiating between the relevant and adversarial irrelevant responses when trained with both random and adversarial irrelevant responses. We observe that DEB significantly outperforms all the other metrics.
              +trained_on_both(test1, true)
