extends layout

block title     
  title Code-Mixed Dialog Dataset

block description
  meta(name='description', content='Code-Mixed Dialog Dataset contains code-mixed goal-oriented conversations in 4 Indian languages')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(async defer src="https://buttons.github.io/buttons.js")

block extrascripts
mixin dataset_stats()
  table.table.performanceTable
    tr
      th 
      th Hindi
      th Bengali
      th Gujarati
      th Tamil 
      tr
        td
          p #{"Vocabulary Size"}
        td #{1676}
        td #{1372}
        td #{1858}
        td #{2185}

      tr
        td
          p #{"Code-Mixed English Vocabulary"}
        td #{386}
        td #{360}
        td #{387}
        td #{424}
      tr
        td 
          p #{"Native Language Vocabulary"}
        td #{739}
        td #{477}
        td #{912}
        td #{1214}
      tr
        td 
          p #{"Others Vocabulary"}
        td #{551}
        td #{535}
        td #{559}
        td #{547}
      tr
        td 
          p #{"Unique Utterances"}
        td #{6549}
        td #{6274}
        td #{6417}
        td #{6666}
      tr
        td 
          p #{"Utterances with code-mixed words"}
        td #{5750}
        td #{5703}
        td #{5643}
        td #{5632}
      tr
        td 
          p #{"Pure Native Language utterances"}
        td #{348}
        td #{210}
        td #{340}
        td #{420}
      tr
        td 
          p #{"Pure English utterances"}
        td #{451}
        td #{361}
        td #{434}
        td #{614}
      tr
        td 
          p #{"Average length of utterances"}
        td #{8.16}
        td #{7.74}
        td #{8.04}
        td #{6.78}
      tr
        td 
          p #{"Average code-mixed utterances per dialog"}
        td #{12.11}
        td #{14.28}
        td #{11.8}
        td #{12.96}

mixin results_seq2seq()
  table.table.resultTable
    tr
      th(colspan='6') #{"Seq2seq with Attention"}
    tr
      td #{"Metrics"}
      td #{"English"}
      td #{"Hindi"}
      td #{"Bengali"}
      td #{"Gujarati"}
      td #{"Tamil"}
    tr
      td #{"BLEU-4"}
      td #{"56.6"}
      td #{"54.0"}
      td #{"56.8"}
      td #{"53.8"}
      td #{"62.1"}
    tr
      td #{"ROUGE-1"}
      td #{"67.2"}
      td #{"62.9"}
      td #{"67.4"}
      td #{"64.7"}
      td #{"67.8"}
    tr
      td #{"ROUGE-2"}
      td #{"55.9"}
      td #{"52.4"}
      td #{"57.5"}
      td #{"54.8"}
      td #{"56.3"}
    tr
      td #{"ROUGE-L"}
      td #{"64.8"}
      td #{"61.0"}
      td #{"65.1"}
      td #{"62.6"}
      td #{"65.6"}  
    tr
      td #{"Per response acc."}
      td #{"46.0"}
      td #{"48.0"}
      td #{"50.4"}
      td #{"47.6"}
      td #{"49.3"}

mixin results_hred()
  table.table.resultTable
    tr
      th(colspan='6') #{"Hierarchical Recurrent Encoder-Decoder (HRED)"}
    tr
      td #{"Metrics"}
      td #{"English"}
      td #{"Hindi"}
      td #{"Bengali"}
      td #{"Gujarati"}
      td #{"Tamil"}
    tr
      td #{"BLEU-4"}
      td #{"57.8"}
      td #{"54.1"}
      td #{"56.7"}
      td #{"54.1"}
      td #{"60.7"}
    tr
      td #{"ROUGE-1"}
      td #{"67.9"}
      td #{"63.3"}
      td #{"67.1"}
      td #{"65.3"}
      td #{"67.1"}
    tr
      td #{"ROUGE-2"}
      td #{"57.5"}
      td #{"52.6"}
      td #{"56.9"}
      td #{"55.2"}
      td #{"55.6"} 
    tr
      td #{"ROUGE-L"}
      td #{"65.7"}
      td #{"61.5"}
      td #{"64.8"}
      td #{"63.2"}
      td #{"65.1"}
    tr
      td #{"Per response acc."}
      td #{"48.8"}
      td #{"47.2"}
      td #{"47.7"}
      td #{"47.9"}
      td #{"47.8"}

block content
  .cover#contentCover
    .container
      .row
        .col-md-5
          .infoCard
            .infoBody
              .infoHeadline
                h2 What is Code-Mixed Dialog Data?
              p 
                span 
                | Most of the existing datasets for building conversation systems focus on monolingual conversations and there is hardly any work on multilingual and/or code-mixed conversations. Such datasets and systems thus do not cater to the multilingual regions of the world, such as India, where it is very common for people to speak more than one language and seamlessly switch between them resulting in code-mixed conversations. For example, a Hindi speaking user looking to book a restaurant would typically ask, “Kya tum is restaurant mein ek table book karne mein meri help karoge?” (“Can you help me in booking a table at this restaurant?”). To facilitate the development of such code-mixed conversation models, we build a goal-oriented dialog dataset containing code-mixed conversations. Specifically, we take the text from the DSTC2 restaurant reservation dataset and create code-mixed versions of it in Hindi-English, Bengali-English, Gujarati-English and Tamil-English.              
                a.btn.actionBtn(href="/explore/1.0/test/") Explore Code-Mixed Dialog
                a.btn.actionBtn(href="https://www.aclweb.org/anthology/C18-1319/") Code-Mixed Dialog paper (COLING 2018)
              hr
              .infoHeadline
                h2 Getting Started
              p 
                | Download the dataset containing the train-dev-test splits in all the languages, along with the splits of the vocabularies into English words, native-language words and named entities. 
                ul.list-unstyled
                  li
                    a.btn.actionBtn.inverseBtn(href="/code-mixed-dataset/code-mixed-dialog-dataset.zip", download)
                      |  Download Dataset 
              hr
              .infoHeadline
                h2 Models
                p 
                span
                  | We establish some initial baseline results on this code-mixed dataset by evaluating two different generation based models : 
                  li
                    a(href="https://arxiv.org/pdf/1409.0473.pdf") Sequence-to-Sequence with Attention model (Bahdanau et al., 2015) 
                  li
                    a(href="https://arxiv.org/pdf/1507.04808.pdf") Hierarchical Recurrent Encoder-Decoder (HRED) model (Serban et al., 2016).
                  br
                  | Checkout the code for these baseline models as well as the evaluation scripts below.
                
                ul.list-unstyled
                  li
                    a.btn.actionBtn.inverseBtn(href="https://github.com/sumanbanerjee1/Code-Mixed-Dialog", download)
                      | Code
                  li
              .infoHeadline
                h2 Have Questions?
              p 
                | Ask us questions at   
                a(href="mailto:suman@cse.iitm.ac.in") suman@cse.iitm.ac.in .
            .infoSubheadline
              include includes/tweet
              include includes/github
        .col-md-7
          .infoCard
            .infoBody
              .infoHeadline
                h2 Dataset Statistics
              p This table summarizes various statistics about the dataset such as total vocabulary size, native language vocabulary size, etc. For every word in the code-mixed corpus, we were able to identify whether it was a word from the native language or English or language agnostic (named entities).  It was easy to do this because we had the vocabulary of the original English DSTC2 corpus as well as named entities. We provide such annotations for the vocabularies of individual languages.
              +dataset_stats()
          .infoCard
            .infoBody
              .infoHeadline
                h2 Baseline Results
              p 
                |  Here, we report the performance of the two baseline models on our dataset using various metrics such as BLEU-4, ROUGE-1, ROUGE-2 and ROUGE-L. We also compute the per utterance accuracy (exact match) by comparing the generated response with the ground truth response. These results show a clear scope of further improvements.
              +results_seq2seq()
              +results_hred()
